@page
@model TimeTableSite.Pages.Timetable.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Штатное расписание</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Номер документа
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.DocumentNumber)
        </dd>
        <dt class="col-sm-2">
            Дата создания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Главный бухгалтер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.ChiefAccountant)
        </dd>
        <dt class="col-sm-2">
            Период
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.Period.Id)
        </dd>
        <dt class="col-sm-2">
            Управляющий
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.Supervisor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Timetable.Id">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
